body {
	margin: 0 15% 30px;
	background-color: #f0faf8;
	font-family: "Comic Sans MS", "M PLUS Rounded 1c";
	color: #65564d;
	font-size: 18px;
}

.menu {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	margin-bottom: 48px;
	padding: 8px;
	background-color: #c9d7d4;
}

.menu li a {
	font-size: 20px;
	position: relative;
	display: block;
	padding:0 24px;
	color: black;
}

/*メニュー ホバー時の下線*/
.menu li a:after {
	position: absolute;
	bottom: -3px;
	left: 50%;
	content:'';
	width: 0;
	height: 3px;
	background-color: white;
	transform: translateX(-50%);
	transition: all .3s;
}

.menu li a:hover:after {
	width: 48px;
}

h1, h2, h3 {
	margin: 32px 0 2px;
}

h4, h5, h6 {
	margin: 8px;
}


a {
	display: block;
	text-decoration: none;
	color: #65564d;
	text-align: center;
}

p {
	margin: 8px 0;
}

/*遊び方*/
.howto {
	border: dashed 3px #65564d;
	margin: 16px auto;
}

.howto li {
	margin: 16px auto;
}